{% extends "core/base.html.j2" %}
{% load static %}
{% block header %}
    {% include 'core/nav.html.j2' with selected='monitors' %}
{% endblock %}
{% block content %}
    <div class="h-[calc(100vh-64px)] lg:h-[90vh] p-6 lg:pl-[35%] lg:pr-[35%] flex items-center justify-center">
        <div class="w-full flex flex-col">
            <div class="flex flex-col gap-2 items-center mb-[2em]">
                <span class="badge badge-ghost font-medium pr-0 text-base">Configuring <span class="badge badge-outline badge-primary font-bold bg-white">ID: {{ pair_id }}</span></span>
                <a href="/configure/"
                   class="text-sm flex flex-row items-center transition hover:opacity-[0.5] font-medium text-gray-500">
                    {# <span class="icons8--left-round size-5 mr-2"></span> #}
                    Back to Monitors
                </a>
            </div>
            <div class="flex flex-row justify-center mb-4"></div>
            <div class="flex flex-col gap-2">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-2">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">{{ form.pair_name.label }}</legend>
                            {{ form.pair_name }}
                        </fieldset>
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">{{ form.threshold_depth.label }}</legend>
                            {{ form.threshold_depth }}
                        </fieldset>
                    </div>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.token.label }}</legend>
                        <div class="flex flex-row items-center">
                            {{ form.token }}
                            <a href=""><span id="togglePassword"
      class="block ml-[-35px] align-middle text-black mdi--eye-off size-5"></span></a>
                        </div>
                        <script>
                            togglePassword = document.getElementById("togglePassword");
                            tokenField = document.getElementById("tokenField");
                            togglePassword.addEventListener("click", (e)=>{
                                e.preventDefault();
                                if (tokenField.type == "text") {
                                    togglePassword.classList.remove("mdi--eye");
                                    togglePassword.classList.add("mdi--eye-off");
                                    tokenField.type = "password";
                                }
                                else {
                                    togglePassword.classList.remove("mdi--eye-off");
                                    togglePassword.classList.add("mdi--eye");
                                    tokenField.type = "text";
                                }
                            });
                        </script>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.location.label }}</legend>
                        {{ form.location }}
                        <p class="label text-wrap">Please include relevant details, such as landmarks and floor numbers, for easier access</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.emails.label }}</legend>
                        {{ form.emails }}
                        <p class="label text-wrap">Include a list of emails separated by a comma.</p>
                    </fieldset>
                    <div class="grid gap-3 md:grid-cols-2 mt-2">
                        <button type="submit" name="save-changes" class="btn w-full">Save Changes</button>
                    </form>
                    <form action="." method="post">
                        {% csrf_token %}
                        <button type="submit"
                                name="delete-monitor"
                                class="btn btn-error w-full text-white">Delete Monitor</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
