{% extends "core/base.html.j2" %}
{% load static %}
{% block header %}
    {% include 'core/nav.html.j2' with selected='monitors' %}
{% endblock %}
{% block content %}
    <div class="h-[calc(100vh-64px)] lg:h-[90vh] p-6 lg:pl-[35%] lg:pr-[35%] flex items-start md:items-center justify-center">
        <div class="w-full flex flex-col">
            <div class="flex flex-row gap-2 items-center mb-[2em]">
                <a href="/configure/"
                   class="flex flex-row items-center transition hover:opacity-[0.5] text-gray-500">
                    <span class="icons8--left-round size-6"></span>
                </a>
                <div class="flex-grow"></div>
                <span class="badge badge-ghost font-medium pr-0 text-base">Configuring <span class="badge badge-outline badge-primary font-bold bg-white">ID: {{ pair_id }}</span></span>
                <div class="flex-grow"></div>
                <span class="icons8--left-round size-6 opacity-0"></span>
            </div>
            <div class="flex flex-row justify-center mb-4"></div>
            <div class="flex flex-col gap-2">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-2">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">{{ form.pair_name.label }}</legend>
                            {{ form.pair_name }}
                        </fieldset>
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">{{ form.threshold_depth.label }}</legend>
                            {{ form.threshold_depth }}
                        </fieldset>
                    </div>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.token.label }}</legend>
                        <div class="flex flex-row items-center">
                            {{ form.token }}
                            <a href=""><span id="togglePassword"
      class="block ml-[-35px] align-middle text-black mdi--eye-off size-5"></span></a>
                        </div>
                        <script>
                            togglePassword = document.getElementById("togglePassword");
                            tokenField = document.getElementById("tokenField");
                            togglePassword.addEventListener("click", (e)=>{
                                e.preventDefault();
                                if (tokenField.type == "text") {
                                    togglePassword.classList.remove("mdi--eye");
                                    togglePassword.classList.add("mdi--eye-off");
                                    tokenField.type = "password";
                                }
                                else {
                                    togglePassword.classList.remove("mdi--eye-off");
                                    togglePassword.classList.add("mdi--eye");
                                    tokenField.type = "text";
                                }
                            });
                        </script>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.location.label }}</legend>
                        {{ form.location }}
                        <p class="label text-wrap">Please include relevant details, such as landmarks and floor numbers, for easier access</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">{{ form.emails.label }}</legend>
                        {{ form.emails }}
                        <p class="label text-wrap">Include a list of emails separated by a comma.</p>
                    </fieldset>
                    <div class="grid gap-3 md:grid-cols-2 mt-2">
                        {% if pair_id != 1 %}
                        <button type="submit" name="save-changes" class="btn w-full">Save Changes</button>
                        <button type="button"
                                class="btn btn-error w-full text-white"
                                onclick="modal.showModal()">Delete Monitor</button>
                        <dialog id="modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Are you sure you want to delete this monitor?</h3>
                                <p class="py-4 text-gray-500">This action is irreversible.</p>
                                <div class="modal-action">
                                    <form method="dialog" class="modal-backdrop">
                                        <!-- if there is a button in form, it will close the modal -->
                                        {% csrf_token %}
                                        <button type="button" class="btn" onclick="modal.close()">No, Go Back</button>
                                    </form>
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                                name="delete-monitor"
                                                class="btn btn-error w-full text-white">Yes, Delete Monitor</button>
                                    </form>
                                </div>
                            </div>
                        </dialog>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
