{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        {# <link rel="stylesheet" href="{% static 'core/css/input.css' %}"> #}
        
        <link rel="stylesheet" href="{% static 'core/css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/output.css' %}">
        <link rel="icon" href="{% static 'core/img/rq.svg' %}">
        <title>Rescue Quick</title>
        {% block extra_head %}
        {% endblock extra_head %}
        {% block extra_script %}
        {% endblock extra_script %}
    </head>
    <body class="h-screen flex flex-col overflow-y-hidden">
        {% block header %}
        {% endblock header %}
        {% block container %}
            <main class="overflow-y-auto">
                {% block content %}
                {% endblock content %}
            </main>
        {% endblock container %}
        {% block footer %}
        {% endblock footer %}
        {% block body_script %}
        {% endblock body_script %}
    </body>
</html>
