{% extends "core/base.html.j2" %}
{% load static %}
{% block content %}
    <div class="h-[90vh] p-6 pl-[5%] pr-[5%] grid grid-cols-3 gap-4">
        <div class="col-span-2 h-full overflow-y-hidden flex flex-col gap-3">
            <div class="flex items-end">
                <span class="text-3xl font-bold">My Monitors</span>
                <div class="flex-grow"></div>
                <button class="btn bg-red text-white rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         class="size-6">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                    </svg>
                    Add Monitors
                </button>
            </div>
            <div class="flex flex-wrap items-end gap-2">
                <div class="hover:scale-110 transition linear duration-100 flex p-3 pl-4 pr-4 gap-3 items-center bg-green-light rounded-md">
                    <div class="p-2 rounded bg-green rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="white"
                             class="size-5">
                            <path fill-rule="evenodd" d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <span class="text-3xl font-bold">0</span>
                    <span class="text-sm/4 font-medium">Currently
                        <br>
                    Safe</span>
                </div>
                <div class="hover:scale-110 transition linear duration-100 flex p-3 pl-4 pr-4 gap-3 items-center bg-yellow-light rounded-md">
                    <div class="p-2 rounded bg-yellow rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="white"
                             class="size-5">
                            <path fill-rule="evenodd" d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <span class="text-3xl font-bold">0</span>
                    <span class="text-sm/4 font-medium">Requires
                        <br>
                    Caution</span>
                </div>
                <div class="hover:scale-110 transition linear duration-100 flex p-3 pl-4 pr-4 gap-3 items-center bg-red-light rounded-md">
                    <div class="p-2 rounded bg-red rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="white"
                             class="size-5">
                            <path fill-rule="evenodd" d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <span class="text-3xl font-bold">0</span>
                    <span class="text-sm/4 font-medium">In
                        <br>
                    Danger</span>
                </div>
                <div class="hover:scale-110 transition linear duration-100 flex p-3 pl-4 pr-4 gap-3 items-center bg-gray-light rounded-md">
                    <div class="p-2 rounded bg-gray rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="white"
                             class="size-5">
                            <path fill-rule="evenodd" d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <span class="text-3xl font-bold">0</span>
                    <span class="text-sm/4 font-medium">Inactive/
                        <br>
                    Unresponsive</span>
                </div>
                <div class="flex-grow"></div>
                <a href="#"><span class="font-bold">View All</span></a>
            </div>
            <div class="overflow-y-auto flex-grow flex flex-col bg-[#F2F4F8] rounded-xl p-4 pr-6">
                
                <div class="grid grid-cols-2 gap-3">
                    {# In Danger #}
                    <div class="bg-red-light shadow-md p-6 rounded-md column-2 w-full">
                        <div class="grid grid-cols-5 gap-2 mb-4">
                            <div class="flex gap-2 col-span-2">
                                <div class="aspect-square h-[2rem] w-auto animate-pulse bg-red-light-50 rounded-full flex items-center justify-center">
                                <div class="w-[50%] h-[50%] bg-red rounded-full"></div>
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-medium">Camera Name</span>
                                    <span class="text-xs">Month Day, Year </span>
                                </div>
                            </div>
                            <div class="col-span-3 flex flex-col text-right">
                                <span class="text-xs/3">Located at</span>
                                <span class="text-lg/5 font-bold">Alumni Engineers Centennial Hall, UP Diliman</span>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                            <div class="p-4 bg-white border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-red rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        People & Pets
                                    </span>
                                </div>
                                <div class="flex flex-col tooltip tooltip-bottom" data-tip="Rescue them quickly!">
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">People</span>
                                        <div class="flex-grow"></div>
                                        <span class="text-3xl font-bold">0</span>
                                    </div>
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">Pets</span>
                                        <div class="flex-grow font-medium"></div>
                                        <span class="text-3xl font-bold">0</span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 bg-white border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-red rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        Flood Level
                                    </span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="flex items-end gap-2">
                                        <span class="text-3xl font-bold">0</span>
                                        <span class="font-medium text-gray-500">Meters</span>
                                    </div>
                                    <div class="tooltip tooltip-bottom" data-tip="Caution Level: X meters">
                                        <progress class="progress progress-error w-full" value="40" max="100" style="color: #f54255;"></progress>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Currently Safe #}
                    <div class="bg-white shadow-md p-6 rounded-md column-2 w-full">
                        <div class="grid grid-cols-5 gap-2 mb-4">
                            <div class="flex gap-2 col-span-2">
                                <div class="aspect-square h-[2rem] w-auto animate-pulse bg-green-light rounded-full flex items-center justify-center">
                                <div class="w-[50%] h-[50%] bg-green rounded-full"></div>
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-medium">Camera Name</span>
                                    <span class="text-xs">Month Day, Year </span>
                                </div>
                            </div>
                            <div class="col-span-3 flex flex-col text-right">
                                <span class="text-xs/3">Located at</span>
                                <span class="text-lg/5 font-bold">Alumni Engineers Centennial Hall, UP Diliman</span>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-green rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        People & Pets
                                    </span>
                                </div>
                                <div class="flex flex-col tooltip tooltip-bottom" data-tip="Currently not in danger levels">
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">People</span>
                                        <div class="flex-grow"></div>
                                        <span class="text-3xl font-bold text-gray-300">0</span>
                                    </div>
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">Pets</span>
                                        <div class="flex-grow font-medium"></div>
                                        <span class="text-3xl font-bold text-gray-300">0</span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-green rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        Flood Level
                                    </span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="flex items-end gap-2">
                                        <span class="text-3xl font-bold">0</span>
                                        <span class="font-medium text-gray-500">Meters</span>
                                    </div>
                                    <div class="tooltip tooltip-bottom" data-tip="Caution Level: X meters">
                                        <progress class="progress progress-error w-full" value="40" max="100" style="color: #05AD94;"></progress>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Requires Caution #}
                    <div class="bg-white shadow-md p-6 rounded-md w-full">
                        <div class="grid grid-cols-5 gap-2 mb-4">
                            <div class="flex gap-2 col-span-2">
                                <div class="aspect-square h-[2rem] w-auto animate-pulse bg-yellow-light rounded-full flex items-center justify-center">
                                <div class="w-[50%] h-[50%] bg-yellow rounded-full"></div>
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-medium">Camera Name</span>
                                    <span class="text-xs">Month Day, Year </span>
                                </div>
                            </div>
                            <div class="col-span-3 flex flex-col text-right">
                                <span class="text-xs/3">Located at</span>
                                <span class="text-lg/5 font-bold">Alumni Engineers Centennial Hall, UP Diliman</span>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-yellow rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        People & Pets
                                    </span>
                                </div>
                                <div class="flex flex-col tooltip tooltip-bottom" data-tip="Currently not in danger levels">
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">People</span>
                                        <div class="flex-grow"></div>
                                        <span class="text-3xl font-bold text-gray-300">0</span>
                                    </div>
                                    <div class="flex items-end">
                                        <span class="font-medium text-gray-500">Pets</span>
                                        <div class="flex-grow font-medium"></div>
                                        <span class="text-3xl font-bold text-gray-300">0</span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-yellow rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        Flood Level
                                    </span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="flex items-end gap-2">
                                        <span class="text-3xl font-bold">0</span>
                                        <span class="font-medium text-gray-500">Meters</span>
                                    </div>
                                    <div class="tooltip tooltip-bottom" data-tip="Caution Level: X meters">
                                        <progress class="progress progress-error w-full" value="40" max="100" style="color: #FFD971;"></progress>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Unresponsive #}
                    <div class="bg-white shadow-md p-6 rounded-md w-full text-gray-300 tooltip" data-tip="Monitor is unresponsive!">
                        <div class="grid grid-cols-5 gap-2 mb-4">
                            <div class="flex gap-2 col-span-2">
                                <div class="aspect-square h-[2rem] w-auto animate-pulse bg-gray-light rounded-full flex items-center justify-center">
                                <div class="w-[50%] h-[50%] bg-gray rounded-full"></div>
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-medium">Camera Name</span>
                                    <span class="text-xs">Month Day, Year </span>
                                </div>
                            </div>
                            <div class="col-span-3 flex flex-col text-right">
                                <span class="text-xs/3">Located at</span>
                                <span class="text-lg/5 font-bold text-black">Alumni Engineers Centennial Hall, UP Diliman</span>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-gray-300 rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        People & Pets
                                    </span>
                                </div>
                                <div class="flex items-end">
                                    <span class="font-medium text-gray-500">People</span>
                                    <div class="flex-grow"></div>
                                    <span class="text-3xl font-bold text-gray-300">0</span>
                                </div>
                                <div class="flex items-end">
                                    <span class="font-medium text-gray-500">Pets</span>
                                    <div class="flex-grow font-medium"></div>
                                    <span class="text-3xl font-bold text-gray-300">0</span>
                                </div>
                            </div>

                            <div class="p-4 bg-gray-50 border-1 border-gray-200 rounded rounded-md">
                                <div class="flex items-center gap-2 mb-2">
                                    <div class="p-1 bg-gray-300 rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-3">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span class="font-bold">
                                        Flood Level
                                    </span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="flex items-end gap-2">
                                        <span class="text-3xl font-bold">0</span>
                                        <span class="font-medium text-gray-500">Meters</span>
                                    </div>
                                    <div class="tooltip tooltip-bottom" data-tip="Caution Level: X meters">
                                        <progress class="progress progress-error w-full" value="40" max="100" style="color: #666768;"></progress>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="bg-red-100 h-full"></div>
    </div>
{% endblock content %}
