{% extends "core/base.html.j2" %}
{% load static %}

{% block content %}
    <img src="{% static 'core/img/placeholder.jpg' %}" alt="placeholder" />
    {% if camera_list %}
        <ul>
            {% for camera in camera_list %}<li class="text-blue-500">{{ camera.name }}</li>{% endfor %}
        </ul>
    {% else %}
        <p>No cameras are available.</p>
    {% endif %}
{% endblock content %}