{% load static %}
<div class="h-[64px] lg:hidden order-last w-full flex justify-center items-center items-center border-t-1 border-gray-200">
    <ul class="order-last menu menu-horizontal bg-base-200 rounded-box">
        <li>
            <a href="/" class="tooltip" data-tip="Dashboard">
                <span class="ion--home size-5"></span>
            </a>
        </li>
        <li>
            <a href="/feed/1/" class="tooltip" data-tip="Live Feed">
                <span class="fluent--video-32-filled size-5"></span>
            </a>
        </li>
        <li>
            <a class="tooltip" data-tip="Configure Monitors">
                <span class="mdi--tools size-5"></span>
            </a>
        </li>
    </ul>
</div>
