{% extends "core/base.html.j2" %}
{% load static %}
{% block header %}
    {% include 'core/nav.html.j2' with selected='feed' %}
{% endblock %}
{% block content %}
    <div hx-get="/feed/{{ pair_id }}/"
         hx-trigger="every 5s"
         id="feed"
         hx-select="#feed"
         hx-swap="morph:outerHTML"
         class="h-[calc(100vh-64px)] lg:h-[90vh] pt-2 p-3 lg:p-6 lg:pl-[5%] lg:pr-[5%]">
        <div class="overflow-y-auto lg:overflow-y-none lg:h-full w-full flex flex-col">
            <div class="bg-white h-full grid grid-cols-10 gap-4 mb-4 lg:mb-[0]">
                {# Container for the image #}
                <div class="aspect-3/2 lg:aspect-auto col-span-10 lg:col-span-7 flex-shrink lg:flex-grow w-full bg-[#F2F4F8] flex items-center justify-center overflow-y-hidden relative">
                    <div id="img-error"
                         class="text-gray flex flex-col items-center justify-center">
                        <span class="ic--baseline-image-not-supported size-6"></span>
                        <span>No image yet.</span>
                    </div>
                    <img id="processed-img"
                            onload="checkImg();"
                            class="hidden h-full object-contain"
                            src="{{ processed_image }}">
                    <div id="img-timestamp" role="alert" class="p-2 md:p-3 alert absolute bg-blue-100 absolute top-0 right-0 m-[10px] md:m-[20px] hidden text-xs md:text-sm shadow-lg">
                        <span class="material-symbols--info-outline size-5 text-blue-500"></span>
                        <span class="font-medium">Captured {{ img_timestamp }}</span>
                    </div>
                    <script>
                        function checkImg() {
                            const img = document.getElementById("processed-img");
                            const timestamp = document.getElementById('img-timestamp');
                            const errorMessage = document.getElementById("img-error");
                            if (img.complete) {
                                console.log("remove hidden");
                                errorMessage.classList.add("hidden");
                                img.classList.remove("hidden");
                                timestamp.classList.remove("hidden");
                            }
                            else {
                                console.log("oh about that...");
                                errorMessage.classList.remove("hidden");
                                img.classList.add("hidden");
                                timestamp.classList.add("hidden");
                            }
                        };
                    </script>
                </div>
                {# Container for camera data #}
                <div class="col-span-10 lg:col-span-3 h-full flex flex-col overflow-y-hidden">
                    {# 'Go Home' button #}
                    <span class="hidden lg:block">
                        <a href="/"
                           class="flex items-center gap-3 flex-row mb-4 hover:opacity-50">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 48 48">
                                <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                                <path d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z" />
                                <path stroke-linecap="round" d="m27 33l-9-9l9-9" />
                                </g>
                            </svg>
                            <span class="font-medium">Back to Dashboard</span>
                        </a>
                    </span>
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        {# Detected entities #}
                        <div class="p-4 bg-red-light rounded rounded-md">
                            <div class="flex items-center gap-2 mb-2">
                                <div class="p-1 bg-red rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                    <span class="bi--person-fill size-3"></span>
                                </div>
                                <span class="font-bold">People & Pets</span>
                            </div>
                            <div class="flex flex-row tooltip tooltip-bottom"
                                 data-tip="Rescue them quickly!">
                                <div class="flex flex-grow flex-col items-start">
                                    <span class="font-medium text-gray-500">People</span>
                                    <span class="font-bold">{{ num_people }}</span>
                                </div>
                                <div class="flex flex-grow flex-col">
                                    <span class="font-medium text-gray-500">Cats</span>
                                    <span class="font-bold">{{ num_cats }}</span>
                                </div>
                                <div class="flex flex-grow flex-col">
                                    <span class="font-medium text-gray-500">Dogs</span>
                                    <span class="font-bold">{{ num_dogs }}</span>
                                </div>
                            </div>
                        </div>
                        {# Flood level #}
                        <div class="p-4 bg-red-light rounded rounded-md">
                            <div class="flex items-center gap-2 mb-2">
                                <div class="p-1 bg-red rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                    <span class="ri--flood-fill size-3"></span>
                                </div>
                                <span class="font-bold">Flood Level</span>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="flex items-end gap-2">
                                    <span class="font-bold">{{ flood_level }}</span>
                                    <span class="font-medium text-gray-500">Inches</span>
                                </div>
                                <div class="tooltip tooltip-bottom"
                                     data-tip="Caution Level: {{ max_flood_level }} inches">
                                    <progress class="progress progress-error w-full"
                                              value="{{ flood_level }}"
                                              max="{{ max_flood_level }}"
                                              style="color: var(--color-red)"></progress>
                                </div>
                            </div>
                        </div>
                        {# Location #}
                        <div class="col-span-2 p-4 bg-red-light rounded rounded-md">
                            <div class="flex items-center gap-2 mb-2">
                                <div class="p-1 bg-red rounded-full flex items-center aspect-square h-fit w-auto justify-center">
                                    <span class="carbon--location-fill size-3"></span>
                                </div>
                                <span class="font-bold">Location</span>
                            </div>
                            <span class="lg:text-xl font-bold">{{ location }}</span>
                        </div>
                        {# Action buttons #}
                        <form method="post"
                              action="{% url 'signal_rescue' %}"
                              class="col-span-2 bg-white text-red hover:shadow-md w-full">
                            <input type="hidden" name="pair_id" value="{{ pair_id }}">
                            <input type="hidden" name="camera_name" value="{{ camera_name }}">
                            <input type="hidden" name="flood_number" value="{{ flood_number }}">
                            <input type="hidden" name="time_elapsed" value="{{ time_elapsed }}">
                            <input type="hidden" name="location" value="{{ location }}">
                            <input type="hidden" name="num_people" value="{{ num_people }}">
                            <input type="hidden" name="num_dogs" value="{{ num_dogs }}">
                            <input type="hidden" name="num_cats" value="{{ num_cats }}">
                            <input type="hidden" name="site" value="/feed/{{ pair_id }}">
                            <button type="submit"
                                    class="col-span-2 btn bg-red text-white border-red hover:shadow-md w-full">
                                Signal Rescue
                            </button>
                        </form>
                    </div>
                    <div class="flex flex-row gap-4 pl-6 pr-6">
                        <a href="/feed/{{ prev }}/" class="flex items-center hover:opacity-50">
                            <span class="icon-park-solid--left-c size-6"></span>
                        </a>
                        <span class="p-2 pl-6 pr-6 text-gray font-medium bg-gray-light border-1 border-gray-200 rounded-md flex-grow text-center">{{ camera_name }}</span>
                        <a href="/feed/{{ next }}/" class="flex items-center hover:opacity-50">
                            <span class="icon-park-solid--right-c size-6"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'core/nav_footer.html.j2' %}
{% endblock %}
