/* 
 * TailwindCSS Input File 
 * For clarity, avoid adding styles here  
 */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans : "DM Sans";
    --color-red : #f54255;
    --color-red-light : #FDE1E4;
    --color-green : #05AD94;
    --color-green-light : #CDEFEA;
    --color-yellow : #FFD971;
    --color-yellow-light : #FFF7E3;
    --color-gray : #666768;
    --color-gray-light : #F0F0F0;
}

