<div class="flex flex-row gap-2 items-center bg-gray-light p-4 rounded-md">
    <div class="p-1 bg-black rounded-full flex items-center aspect-square h-fit w-auto justify-center">
        <span class="ri--flood-fill size-3"></span>
    </div>
    <span class="font-medium">{{ message }}</span>
    <div class="flex-grow"></div>
    <span class="tooltip tooltip-left" data-tip="{{ date }} {{ time }}">3 min ago</span>
</div>
