<div class="bg-white shadow-md p-6 rounded-md column-2 w-full tooltip tooltip-bottom" data-tip="Monitor is currently safe!">
    <div class="grid grid-cols-5 gap-2">
        <div class="flex gap-2 col-span-5 md:col-span-2">
            <div class="aspect-square h-[2rem] w-auto animate-pulse bg-green-light rounded-full flex items-center justify-center">
                <div class="w-[50%] h-[50%] bg-green rounded-full"></div>
            </div>
            <div class="flex flex-row w-100 md:flex-col items-center md:items-start">
                <span class="font-medium">{{ camera_name }}</span>
                <div class="flex-grow"></div>
                <span class="text-xs">{{ date }}</span>
            </div>
        </div>
        <div class="col-span-5 md:col-span-3 flex flex-col md:text-right">
            <span class="hidden md:block text-xs/3">Located at</span>
            <span class="text-lg/5 font-bold text-black">{{ location }}</span>
        </div>
    </div>
</div>
