<div class="bg-gray-light border-md shadow-md p-4 lg:p-6 rounded-md w-full flex flex-col gap-2">
    <div class="flex gap-2 items-center">
        <div class="text-xs lg:text-sm flex flex-row gap-2">
            <span class="font-medium">{{ camera_name }}</span>
            <span class="font-medium text-gray-500">{{ date }} {{ marked_safe }}</span>
        </div>
    </div>
    <span class="text-base lg:text-2xl  font-bold">{{ location }}</span>
    <div class="text-sm lg:text-base flex flex-col">
        <span>
            <span class="font-bold">Rescued</span>
            <span class="font-medium text-gray">
                {% if num_people != 0 %}
                    {% if num_cats or num_dogs %}
                        {{ num_people }} people, {{ num_cats }} cats, {{ num_dogs }} dogs
                    {% else %}
                        {{ num_people }} people
                    {% endif %}
                {% elif num_cats or num_dogs %}
                    {{ num_cats }} cats, {{ num_dogs }} dogs
                {% endif %}
            </span>
        </span>
        <span>
            <span class="font-bold">Max. Flood Level</span>
            <span class="font-medium text-gray">{{ flood_level }} meters</span>
        </span>
    </div>
</div>
