<h2>New Rescue Alert!</h2>
<p style="margin: 0; padding: 0;"><strong>Camera:</strong> {{ camera_name }}</p>
<p style="margin: 0; padding: 0;"><strong>Time Elapsed:</strong> {{ time_elapsed }}</p>
<p style="margin: 0; padding: 0;"><strong>Location:</strong> {{ location }}</p>
<p style="margin: 0; padding: 0;"><strong>Number of People:</strong> {{ num_people }}</p>
<p style="margin: 0; padding: 0;"><strong>Number of Dogs:</strong> {{ num_dogs }}</p>
<p style="margin: 0; padding: 0;"><strong>Number of Cats:</strong> {{ num_cats }}</p>

<p>Please respond immediately.</p>