<h1 style="font-family:'Courier New', Courier, monospace; font-size: 24px; color: #f54255;">New Rescue Alert!</h1>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium;"><strong>Camera:</strong> {{ camera_name }}</p>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium"><strong>Time Since Detection:</strong> {{ time_elapsed }}</p>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium"><strong>Location:</strong> {{ location }}</p>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium"><strong>Number of People:</strong> {{ num_people }}</p>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium"><strong>Number of Dogs:</strong> {{ num_dogs }}</p>
<p style="margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; font-size: medium"><strong>Number of Cats:</strong> {{ num_cats }}</p>

<p style="font-size: large; font-weight: bold; font-family:'Courier New', Courier, monospace;"><span style="color: #f54255; font-family:'Courier New', Courier, monospace; font-size: large; font-weight: bold;">Rescue Quick</span>ly!</p>
